.button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 20px;
    height: 20px;
    width: 150px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(#eeeeee, #cccccc);
}